html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #313338;
  color: white;
  font-weight: normal;
}

.text-light {
  color: #b3b7bd !important;
}

.border-heavy {
  border: 1pt solid #020202;
}

.bg {
  background-color: #313338 !important;
}

.bg-gray {
  background-color: #2b2d31 !important;
}

.bg-dark-gray {
  background-color: #27282c !important;
}

.bg-light-gray {
  background-color: #b3b7bd !important;
}